<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="All Of Us" property="og:title" />
    <meta content='The official server for All Of Us. Join to play modded Among Us + More!' property="og:description" />
    <meta content="https://cdn.discordapp.com/icons/794950428756410429/45a38e7033c37b8ff2dd2ea477e1c1db.png?size=1024" property="og:image" />
    <meta content="#FF0000" data-react-helmet="true" name="theme-color" />
    <meta http-equiv = "refresh" content = "0; url = https://discord.gg/CSCwZJP7AV" />
    <title>All Of Us</title>
</head>
<body>

</body>
</html>